@font-face {
    font-family: karla;
    src: url(fonts/Karla-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: inter;
    src: url(fonts/Inter-Light.otf);
    font-weight: normal;
}
body{
    background: #1F2937;
}
.main{
    width: 70%;
    height: 550px;
    left: 62px;
    top: 64px;

    background: #1F2937;
    margin: auto;
    margin-top: 5%;
}
h1{
    font-family: karla;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #ffffff;
    width: 340px;
    margin: 0%;
}
.green-text{
    color: #4ADF86;
}
.text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    margin-top: 5px;

    color: #D5D4D8;
}
.selection-text{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    margin: 2.5rem 3rem 2rem 1rem;

    color: #D5D4D8;
}
.selection-field{
    display: flex;
    justify-content: start;
}
.generate-btn{
    background: #10B981;
    width: 191px;
    
    padding: 9px 17px 10px 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    border-radius: 5px;
    
}
.header{
    width: auto;
    padding: 100px 0px 0px 70px
}
.separator{
    width: 80%px;
    margin:3rem 5rem;

    height: 1px;
    background-color: #2F3E53
    ;
}
.password-el{
    width: auto;
    height: auto;
    padding: 1rem 2rem 0.5rem 2rem;
    background-color: #273549;
    border-radius: 5px;
    color: #55F991;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin: 0 15px;
    padding-top: 5px;
}
#passwords{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}




/* 
.form-type-number {
    position: relative;
    height: 50px;
}
input {
    appearance: none;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 50px;
    text-align: center;
    background-color: lightblue;
    border-radius: 4px;
    border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.btn-plus {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: lawngreen;
    text-align: center;
}
.btn-plus {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: lawngreen;
    text-align: center;
} */


.box_4{
	background: #eee;
}

.input_wrapper{
  width: 70px;
  height: 35px;
  margin-top: 2rem;
  position: relative;
  cursor: pointer;
}

.input_wrapper input[type="checkbox"]{
  width: 70px;
  height: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #2F3E53;
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.input_wrapper input[type="checkbox"]:after{
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: #dfeaec;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.input_wrapper svg{
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  fill: #fff;
  -webkit-transition: all .35s;
  transition: all .35s;
  z-index: 1;
}

.input_wrapper .is_checked{
  width: 18px;
  left: 18%;
  -webkit-transform: translateX(190%) translateY(-30%) scale(0);
          transform: translateX(190%) translateY(-30%) scale(0);
}

.input_wrapper .is_unchecked{
  width: 15px;
  right: 10%;
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */
.input_wrapper input[type="checkbox"]:checked{
  background: #55F991;
}

.input_wrapper input[type="checkbox"]:checked:after{
  left: calc(100% - 33px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}